{% set title = 'Hello world!' %}
{% set description = 'Lorem ipsum' %}
{% set pageCtrl = 'hello-world' %}

{% extends 'templates/_default.njk' %}

{% block main %}
  <p>The following text has been added by Javascript</p>
  <h1 id="hello"></h1>
{% endblock %}
